#restaurant{
    cursor: pointer;
}

.restaurant-name{
    position: absolute;
    bottom: 18%;
    left: 12px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.restaurant-category{
    position: absolute;
    bottom: 10%;
    left: 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}

